@page
@model FacilityTracker.Pages.HomeModel
@using FacilityTracker.Models

@{
    ViewData["Title"] = "Home";
}

    <h2>Hello @Model.FirstName, Welcome to the Facilities Tracker.</h2>

<hr/>

<div class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center mb-3">
    <p>Below is a list of all facilities.</p>
    @if (User.Identity.IsAuthenticated &&
         (User.HasClaim("role", "Admin") || User.HasClaim("role", "Manager")))
    {
        <div>
            <a class="btn btn-primary" asp-area="" asp-page="/Facilities/Create">
                + Create Facility
            </a>
        </div>
    }
</div>

@foreach (var facility in Model.Facilities)
{
    <a asp-page="/Facilities/Profile" asp-route-id="@facility.Id" class="text-decoration-none text-dark">
        <div class="card mb-3 p-3 d-flex flex-row justify-content-between align-items-center hover-shadow">
            <div>
                <h5 class="mb-1">@facility.Name</h5>
                <p class="mb-0 text-muted">@facility.Location</p>
            </div>
            <div class="text-end">
                <strong>Staff Members</strong>
                <ul class="mb-0 ps-3 small">
                    @foreach (var user in facility.Users)
                    {
                        <li style="list-style-type: none;">@user.FirstName @user.LastName</li>
                    }
                </ul>
            </div>
        </div>
    </a>
}